
* {
  margin: 0;
  padding: 0;
}

body {
	background-color: #d9d9d9;
	font-family: Noto San;
}


.header {
	width: 100%;
	height: 100px;
  	background: black;
  	color: #f1f1f1;
}
#logo {
	width: 200px;
	height: 90px;
	background: white;
	float: left;
	margin-left: 5%;
}

#navbar	{
	width: 450px;
	height: 50px;
	float: right;
	margin-right: 5%;
	margin-top: 1%;
}

.topnav {
 	 overflow: hidden;
}

.topnav a {
	  float: left;
	  color: #f2f2f2;
 	  text-align: center;
 	  padding: 14px 16px;
 	  text-decoration: none;
 	  font-size: 20px;
}

.topnav a:hover {
	  color: #7ed957;
}

.topnav a.active {
 	 background-color: #7ed957;
 	 color: white;
}

.content {
  padding: 16px;
}



#hero-image-holder {
	width: 90%;
	height: 290px;
	background: #d3d8db;
	margin-left: 5%;	
}

#hero-image-holder img {
	width: 100%;
	height: auto;
}
#left-content {
	width: 700px;
	height: 590px;
	float: left;
	margin-left: 5%;
	margin-top: 5%;	
}

#left-content h1{
	color: #a80f52;
	font-size: 40px;
	margin-top: 5%;
}

#left-content p{
	font-size: 24px;
	margin-top: 5%;
}
#right-content {
	width: 320px;
	height: 590px;
	background: black;
	float: right;
	margin-right: 5%;
	margin-top: 5%;	
}

#right-content h1{
	color: white;
	font-size: 38px;
	text-align: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;